# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\证件照开发项目\matting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
